<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CloudUrl" value="https://YOUR-RENDER-SERVICE.onrender.com" />
    <add key="CloudUser" value="kodak" />
    <add key="CloudPass" value="kodak" />
    <add key="DeviceName" value="Kodak-Scanner-PC" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
